@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #111827;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* navbar.css */
.navbar {
  background-color: transparent;
  padding: 1rem;
  box-shadow: 0px 0px 10px rgb(60, 60, 72);
  border-radius: 20px;
  z-index: 10;
  width: 80%;
  max-width: 1200px; /* Restricts maximum width */
  margin: 20px auto; /* Centers horizontally */
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.navbar-logo a {
  text-decoration: none;
  color: inherit;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  color: white;
}

.navbar-links a {
  text-decoration: none;
  color: inherit;
  font-size: 1.125rem;
}

.navbar-links a:hover {
  color: #cbd5e0;
  transition: color 0.3s ease;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  background-color: white;
  height: 3px;
  width: 25px;
  margin: 3px 0;
}

.navbar-menu {
  color: white;
  display: flex;
  gap: 2rem;
}

.navbar-menu.active {
  display: flex;
}

.navbar-menu a:hover {
  color: gray;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    top: 60px;
    right: 0;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    border-radius: 0 0 20px 20px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navbar-menu.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .navbar-links {
    display: none;
  }
}

.blink.x-dark {
  --blink-bg-primary: #202327;
  --blink-button: #1d9bf0;
  --blink-button-disabled: #2f3336;
  /* Add other customizations here */
}